.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Hace que ocupe todo el espacio disponible */
  padding: 20px;
  background-color: #f9f9f9;
  }
  
  .register-container h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  button {
    margin-top: 20px;
  }